In [1]:
# Import libraries
import requests
import pandas as pd
pd.options.mode.chained_assignment = None #Mute warnings
import numpy as np
import sys
import matplotlib.pyplot as plt

In [23]:
URL = 'https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json'
r = requests.get(URL).json()['data']
df = pd.DataFrame(r)

In [19]:
df_crop = df[['location','rank_order', 'member_level','name', 'stats_number_students', 'stats_pc_intl_students',
             'stats_student_staff_ratio']][:200]
df_crop.head()

,location,rank_order,member_level,name,stats_number_students,stats_pc_intl_students,stats_student_staff_ratio
0,United Kingdom,10,0,University of Oxford,"20,409",38%,11.2
1,United Kingdom,20,0,University of Cambridge,"18,389",35%,10.9
2,United States,30,0,California Institute of Technology,"2,209",27%,6.5
3,United States,40,11,Stanford University,"15,845",22%,7.5
4,United States,50,0,Massachusetts Institute of Technology,"11,177",34%,8.7

`(a) Ratio between faculty members and students`

In [37]:
df_crop.stats_student_staff_ratio = 
df_crop.sort_values(['stats_student_staff_ratio'], inplace=True)
df_crop = df_crop.set_index(pd.Series(list(range(1,201))))
df_crop.head(200)

SyntaxError: can't assign to function call (<ipython-input-37-ce41c62a1130>, line 1)

`(b) Ratio of international students`